@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Asap:400,700);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin-ext,latin);
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}

body {
  background: radial-gradient(circle, rgba(36,35,35,1) 0%, rgba(0,0,0,1) 100%);
}

.newPost {
  margin: 50px auto;
  padding: 50px 40px;
  width: 100%;
  max-width: 800px;
  min-width: 480px;
  background: #4d4d4d;
  font-family: "Asap", sans-serif;
}
.newPost h3 {
  margin: 0px 0px 20px 0px;
  font-size: 30px;
  color: #fff;
}


.newPost p {
  margin: 0px 0px 20px 0px;
  font-size: 18px;
  color: #fff;
}
.newPost input[type=text] {
  padding-left: 15px;
  width: 100%;
  height: 45px;
  border: 1px solid #C1CFD9;
  box-shadow: inset 0px 0px 3px #C1CFD9;
  outline: none;
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
}

.newPost .editor {
  min-height: 300px;
  width: 100%;
  resize: none;
  border: 1px solid #fff;
  box-shadow: inset 0px 0px 3px #fff;
  outline: none;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  background-color: #fff;
}
.newPost .editor .saved {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  background: #C1CFD9;
  font-weight: bold;
  border-top-left-radius: 15px;
}
.newPost .buttons {
  float: right;
}
.newPost .buttons button {
  float: left;
  width: 120px;
  height: 45px;
  border: none;
  color: #FFF;
  text-transform: uppercase;
  outline: none;
  margin-right: 20px;
  font-weight: bold;
  background: red;
  text-decoration: none;
}
.newPost .buttons button:last-of-type {
  margin-right: 0px;
  background: green;
}
.newPost .buttons button:last-of-type:hover {
  background: #fa958e;
}
.newPost .buttons button:active {
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.05);
}
.newPost .buttons button:hover {
  background: #d1dbe3;
}
.newPost .buttons:after {
  content: "";
  display: block;
  clear: both;
}
.newPost:after {
  content: "";
  display: block;
  clear: both;
}